<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Page of {{data.fullname}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<div class="position-relative">
    <div class="position-absolute top-0 end-0 pe-5 pt-2">
        <a href="{{url_for('signout')}}" class="btn btn-primary" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
            </svg>
            Logout
        </a>
    </div>
</div>
<div class="container col-sm-6 pt-4">
    <div class="card text-dark bg-light text-center mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{url_for('static',filename = 'upload/' + data.pic_file_name)}}" class="img-fluid rounded-start"
                     alt="profil picture">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title pb-2">{{data.fullname}}</h4>

                    <h5 class="card-title">Education</h5>
                    <p class="card-text">{{data.university}}</p>

                    <h5 class="card-title">Contact Information</h5>
                    <a href="mailTo:{{data.email}}" class="card-link">{{data.email}}</a>
                    <a href="{{data.github_url}}" class="card-link">{{data.github}}</a>

                    <p class="card-text"><small class="text-muted">Created on {{data.creation_date}}</small></p>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>